* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

#container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(32, 255, 181);
}

#test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

button {
  height: 50px;
  width: 120px;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
  background-color: azure;
  border-radius: 7px;
  border: 1px solid black;
}
button:disabled {
  filter: none;
  cursor: not-allowed;
}

#timeTaken {
  position: absolute;
  top: 50px;
  left: 50px;
}

@media (max-width: 800px) {
  #timeTaken {
    width: 100%;
    left: 0;
  }
}
